body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#body{
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header {
  background-color: black;
  color:white;
  width: 100vw;
  height: 40vh;
  text-align: center;
  padding: 20px;
}

.header-title {
  font-size: 20vh;

}

.header-text {
  font-size: 8vh;
}


.section {
  display:flex;
  width: 80%;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
}

.div-title {
  font-size: 30px;
  font-weight: 600;
}


.section > div {
  padding: 30px;
}

.small-div {
  width: 20%;
}

.big-div {
  width: 50%;
}
.card-img {
   width: 120%;
}


/* contact section */

.contact-div {
  background-color: #F7D0E5;
  width: 100%;

}

.contact-title {
  font-size: 4vh;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.contact-info-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90vw;
}

.contact-info  span {
  font-size: 22px;


}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-top: 0px;
}

.contact-input {
  display: flex;
  flex-direction: column;
  margin-right: 30vw;


}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10vw;
  margin-bottom: 25px;
}

@media only screen and (min-width:320px) and (max-width:725px){
  .contact-info-section{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width:80%;
  }
}

.input-field {
  padding: 5px;
  margin: 5px 0;
  height: 20px;
}



#text-area {
  padding: 5px;
  margin: 15px 0;
}


.contact-btn {
  padding: 5px;
  background-color: black;
  color: white;
  border: 0;
}








